{{>head}}
<tr>
    <td>
        <center>
            <span class="admin">
                <table width="500">
                    <tbody>
                        <tr>
                            <td>
                                <br>
                                <br>
                                <h4>Objective</h4>
                                <p>
                                Allow people to build RDF vocabularies and ontologies, through a crowdsourcing community validation system, using common textual discourse and N-triples syntax.
                                </p>
                                <h4>Why?</h4>
                                <p>
                                If you want to build a vocabulary yourself nowadays, there's a variety of different resources and tools. However, these require lots of training. You don't know how to correctly use them, and most of the time you build a semi-efficient ontology, which is probably redundant. Also, vocabularies are spread all over the internet, and it's hard to really get a feeling whether you should build something from scratch, or reuse an existing ontology.
                                </p>
                                <p>
                                Not to mention that vocabularies are mostly static. Built by a single entity (ex. foaf). And what happens when a specific vocabulary doesn't have something you need? You're stuck with having to go look for something else, that better fits your needs.
                                </p>
                                <h4>How</h4>
                                <p>
                                This site uses powerful community-driven voting-based approaches, such as the ones used on StackOverflow or Hacker News, to allow people to discuss about ontology and write triples definitions directly in the comments you're making.
                                </p>
                                <p>
                                Other people can then see what you made, further discuss it and validate it. The more votes a single comment gets, the more valuable it is. This allows ontologies to continue growing and expanding into what is useful for the community itself.
                                </p>
                                <h4>Features</h4>
                                <p>
                                <i>more to come...</i>
                                </p>
                                    <br>
                                    <br>Luca Matteis
                                    <br>
                                    <br>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </center>
    </td>
</tr>
{{>tail}}
