{{>head}}
<tr>
    <td>
        <center>
            <span class="admin">
                <table width="500">
                    <tbody>
                        <tr>
                            <td>
                                <br>
                                <br>
                                <h4>Objective</h4>
                                <p>
                                Allow people to build RDF vocabularies and ontologies, through a crowdsourcing community validation system, using common textual discourse and N-triples syntax.
                                </p>
                                <h4>Why?</h4>
                                <p>
                                If you want to build a vocabulary yourself nowadays, there's a variety of different resources and tools. However, these require lots of training. You don't know how to correctly use them, and most of the time you build a semi-efficient ontology, which is probably redundant. Also, vocabularies are spread all over the internet, and it's hard to really get a feeling whether you should build something from scratch, or reuse an existing ontology.
                                </p>
                                <p>
                                Not to mention that vocabularies are mostly static. Built by a single entity (ex. foaf). And what happens when a specific vocabulary doesn't have something you need? You're stuck with having to go look for something else, that better fits your needs.
                                </p>
                                <h4>How</h4>
                                <p>
                                This site uses powerful community-driven voting-based approaches, such as the ones used on StackOverflow or Hacker News, to allow people to discuss about an ontology and write triples definitions directly in the comments you're making.
                                </p>
                                <p>
You can comment using N-Triples syntax (Turtle to be supported), so anybody can extend a specific vocabulary. Then based on the amount of votes a specific comment gets, it will be more valuable, and it will automatically find its place in the final vocabulary: say 2 comments define the same "hasColor" property, only one has "10 points" and the other has only "2 points". The system will automatically do the filtering, and only the highest scored comments will find their place in the final vocabulary.
                                </p>
                                <p>
So in essence this is very similar to opening your text editor, and writing some Turtle syntax down. The cool part is that it happens online, so other people can immediately comment and validate what you wrote.
                                
                                </p>
                                <h4>Features</h4>
                                <p>
                                <i>more to come...</i>
                                </p>
                                    <br>
                                    <br>Luca Matteis
                                    <br>
                                    <br>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </center>
    </td>
</tr>
{{>tail}}
