{{>head}}
<tr>
    <td>
        <center>
            <span class="admin">
                <table width="500">
                    <tbody>
                        <tr>
                            <td>
                            <br>
                            <br>
                            <br>
                            <p>
Blank lines separate paragraphs.
</p><p>
N-Turtle syntax is used to define triples.
</p><p>
Urls become links.
</p>                            
                            <br>
                            <br>
                            <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </center>
    </td>
</tr>
{{>tail}}
